body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pankuzu{
    margin-top: 20px;
}

#condition{
    font-size: 30px;
    /* border-bottom: solid 3px #efefef; */

}

.shop_information_whole{
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row;
    border-top: solid 3px #efefef;
}

.shop_information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    padding-left: 40px;
}

.shop_img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 25px;
}

.shop_img_many{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop_img_under_whole{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.shop_img_main{
    width: 175px;
    height: 175px;
    border-radius: 10%;
    margin: 15px 35px 5px 50px;
}

.shop_img_under{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin: 0 2px;
}

.icon{
    width: 15px;
    height: 15px;
}

.shop_name{
    font-size: 20px;
    font-weight: bold;  
}

.shop_datail{
    font-size: 15px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#shop_whole .shop_information_whole:last-child{
    border-bottom: solid 3px #efefef;
    margin-bottom: 30px;
}
