body{
    text-align: center;
    background:#efefef;
}

#wrapper{
    display:inline-block;
}

.shop{
    text-align:center;
    display:inline-block;
    margin:50px 100px;
    border:solid black;
    box-shadow: 5px 5px 5px grey;
}