body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title{
  font-weight:bold;
  margin-top:100px;
}

#button_container{
  margin-top:30px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btn{
margin-top:20px;
}

#range_explain{
  margin: 0;
  border-bottom:solid 3px #efefef;
}