<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>検索結果</title>
    <link rel = "stylesheet" href = "css/SearchStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>  
</head>
<body>
    
    <p id = "pankuzu"><a href = index.html>トップ</a> > 検索条件</p>
    <p id = "condition"></p>
    
    <div id = "HowManyHit">
        
    </div>
    <div id = "shop_whole">                
    </div>

        <nav aria-label="..." id = "number">
        </nav>
                                            
                                            

    <script type="text/html" id="hit">
        lo<span><%= hit_number %><span>&nbsp;<span>/</span>&nbsp;<span><%= hit_total %></span>
    </script>

    <script type="text/html" id="lodashTemplate_userData">
        <div class = "shop_information_whole">
            <img src = <%= shop_img %> class = "shop_img">
            <div class = "shop_information">
                <span class = "shop_name"><%= shop_name%></span>
                <span class = "shop_datail"><img src = "img/SVG/open.svg" class = "icon">&nbsp;&nbsp; <%= opentime %> </span>
                    <span class = "shop_datail"><img src = "img/SVG/address.svg" class = "icon">&nbsp;&nbsp; <%= address %> </span>
                    <span class = "shop_datail"><img src = "img/SVG/phone.svg" class = "icon">&nbsp;&nbsp; <%= phone_number %></span>
                </div>
            </div>
        </script>

        <script type="text/html" id="previous">
        <ul class="pagination">
                <li class="page-item">
                    <span class="page-link" id ="previous"><%= Previous %></span>
                </li>
    </script>

        <script type="text/html" id="page">
                <li class="page-item ThisNumber" id = <%= page_id %>><a class="page-link"  href = <%= link %>> <%= page_number %> </a></li>
    </script>

        <script type="text/html" id="next">
        <li class="page-item">
                <span class="page-link" id = "next" ><%= Next %></span>
            </li>
        </ul>
    </script>
    <script src = "js/main2.js"></script>
</body>
</html>